.back-to-top {
    position: fixed;
    border: none;
    height: 900px;
    width: 70px;
    top: 0;
    right: 16px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cdn.jsdelivr.net/npm/@liuyuhe666/my-vue-ui@0.0.1/assets/back-to-top.png");
}