.easy-button {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 14px;
    color: #fff;
    background-color: #007AFF;
    border: 1px solid #007AFF;
    border-radius: 4px;
    outline: 0;
}